esphome:
  name: water-display
  friendly_name: Water Display

esp32:
  board: esp32-c3-devkitm-1
  framework:
    type: esp-idf

logger:
  level: DEBUG
  #hardware_uart: USB_SERIAL_JTAG

# Enable Home Assistant API
api:
  encryption:
    key: "8LxVKtDH9fEYmEpaisTuRXBHeqQ0nCfZFHeGDFDckHs="

ota:
  - platform: esphome
    password: "bbb2fe09bf5ac66677bc4cb1475f23bd"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Water-Display Fallback Hotspot"
    password: "a2wp77RW1Rp6"

captive_portal:
    
#external_components:
#  - source:
#      type: git
#      url: https://github.com/clydebarrow/esphome
#      ref: fd15094c0860df23d532881df36cfd16c7da1091 #previous commit - wont be needed in the future
#    components: [ lvgl ] 

debug:
  update_interval: 15s

spi:
  clk_pin: GPIO6
  mosi_pin: GPIO7  

i2c:
  sda: 4
  scl: 5
  id: i2c_touch

output:
  - platform: ledc
    pin:
      number: GPIO3
    id: backlight_output

light:
  - platform: monochromatic
    output: backlight_output
    name: LCD Backlight
    id: water_display_back_light
    restore_mode: RESTORE_AND_ON
    #default_transition_length: 0s
    #brightness: 100

display:
  - platform: ili9xxx
    id: lcd_display
    model: gc9a01a
    data_rate: 80MHz
    cs_pin: GPIO10
    dc_pin: GPIO2
    dimensions:
      width: 240
      height: 240
    update_interval: never
    auto_clear_enabled: false
    invert_colors: False

globals:
  - id: watertemp_sanitized
    type: std::string
    initial_value: '"."'
    restore_value: False

#time:
#  - platform: host
#    id: time_comp

interval:
  - interval: 500ms
    then:
      - lambda: |-
          if (id(watertemp_sanitized) == ".") {
            id(watertemp_sanitized) = "..";
            id(update_display_temp).execute();
          } else if (id(watertemp_sanitized) == "..") {
            id(watertemp_sanitized) = "...";
            id(update_display_temp).execute();
          } else if (id(watertemp_sanitized) == "...") {
            id(watertemp_sanitized) = ".";
            id(update_display_temp).execute();
          }
          //ESP_LOGI("interval", "Last update: %i", id(watertemp_sanitized));

number:
  - platform: template
    initial_value: 0
    id: counting_number
    internal: True
    min_value: -10
    max_value: 10
    step: 1
    optimistic: True

text_sensor:
  - !include { file: text_sensor_debug.yaml }

sensor:
  #- !include { file: sensor_debug.yaml } 
  - platform: wifi_signal
    name: "WiFi Signal Sensor"
    internal: True
    id: wifi_signal_sensor
    update_interval: 30s

  - platform: uptime
    id: uptime_counter
    name: "Up Time"
    update_interval: 15s
    accuracy_decimals: 0

  - platform: homeassistant
    id: ha_water_temp
    entity_id: sensor.camper_sensors2_camper_temperature
    #internal: True
    on_value:
      then:
        - lambda: |-
            float v = id(ha_water_temp).state;
            if (std::isnan(v)) {
              id(watertemp_sanitized) = ".";
            } else {
              char buffer[8];
              sprintf(buffer, "%.1f", v);
              id(watertemp_sanitized) = std::string(buffer);
            }
        - script.execute: update_display_temp

<<: !include { file: water-display-lvgl.yaml }



